
#home{
  padding:50px;
  text-align: center
}    
#begin-content{
  text-align: center
}
h1,h3{
  text-align: center
}   
h1,h2,h3{
  font-family: "Rock Salt";
}

p{
  font-size:170%;
  font-family:"Josefin Sans";
}
#gallery{
  padding:50px;
}
#people{
  padding:10px;
}
#clip-1{
  float:left;
}
#clip-2{
  float:right;
}
/*div.jumbotron {*/
/*  display: table;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1), url('img/balloon-1.jpg') no-repeat center;*/
/*  background-size: cover;*/
/*}*/

